body {
	text-align: center;	
    background-color: rgb(193,255,255);
}
h1 {
	color: black;
}
#question {
    color:red;
	width: 100%;
	margin: 40px 0;
	font-size: 30px;
}
#answerForm {
	font-size: 20px;
}
#answer {
	width: 60%;
}

script{
    width: 50px;
    margin: 60px;
}
